@import "../../sass/abstracts/variables";

.taskitem {
    display: flex;
    flex-direction: column;
    width: 97%;
    justify-content:space-between;
    align-items:center;
    align-self: center;
    justify-self: center;
    margin: 0.3rem auto;
    padding:1rem 0;
    
    border: 1px solid rgb(151, 148, 148);
    border-radius:5px;
    @media (min-width: 768px) {
        display: flex;
        flex-direction: row;
        width: 97%;
        justify-content:space-between;
        align-items:center;
        align-self: center;
        justify-self: center;
        margin: 0.3rem auto;
        padding:1rem 0;
        
        border: 1px solid rgb(151, 148, 148);
        border-radius:5px;

          
    

    }
      
    &-left {
        display: flex;
        align-items:center;
        p {
            margin: 0;
        }

        p:nth-child(1) {
            font-weight: bold;
        }
    }

    &-logo {
        display: flex;
        margin:0 1rem;
        border-right: 1px solid rgb(151, 148, 148);
        padding:0 1rem;
        width:13rem;
        height:6rem;
        text-align:center;
        justify-content:center;
        align-items:center;

        img {
            margin: 0 auto;
        }
    }

    &-right {
        display: flex;
        flex-direction:column;
        align-items:center;
        margin-right: 1rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
        text-align: center;
        justify-content: space-between;
        width: 14rem;
        height: 8rem;
        @media (min-width: 768px) {
           
            display: flex;
            flex-direction:column;
            align-items:center;
            margin-right: 1rem;
            margin-bottom: 1rem;
            margin-top: 1rem;
            text-align: right;
            justify-content: space-between;
            width: 14rem;
            height: 8rem;
              
        
        }
        
        &__cashcontainer {
            display: flex;
            flex-direction:column;
            align-items:space-between;
            justify-content: flex-end;
            width: 100%;
        }

        &__cash {
            font-weight: bold;
           
        }
        
    }

    &-order__btn {
        width:14rem;
        padding:0.8rem;
        border: none;
        font-size:1.2rem;
    }

}

.discount {
    font-size:1.5rem;
}
.online {
    background:rgb(31, 131, 151);
    color:white;
    font-weight: bold;
}
.phone {
    background-color: white;
    color: rgb(31, 131, 151);
    border: 1px solid rgb(31, 131, 151);
    padding-bottom: 1.5rem;
    padding-top:0.1rem;
    font-size:1rem;
}
.font {
    color: $color-primary ;
    
}

